#adminpanel{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top right, #7c89d5, #f599a5);
    width:100%;
    height:100vh;
    position: fixed;
    display: grid;
    grid-template-columns: 25% 75%;
}
#admin-sidenav{
    background-color: white;
    width:100%;
    height:100%;
    display: grid;
    grid-template-rows: 30% 40% 30%;
}
#admin-cont{
    background-color: transparent;
    background-color: #f6f6fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dash-inner{
   background-color: red;
    width:98%;
    height:93%;
    display: grid;
    grid-template-rows: 15% 85%;
}
#dash-nav{
    background-color:yellow;
}
#dash-cont{
    background-color: pink;
    display: grid;
    grid-template-rows: 70% 30%;
}
#dash-cont-staff{
    background-color:orange;
}
#staff{
    box-shadow: 0px 0px 22px -8px #808080;
    background-color: white;
    border-radius: 10px;
    width:40%;
    height:40%;
}
