#feedcont{
    background-color: #eeeeee;
    width:100%;
    height:100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;overflow-y: scroll;

    justify-content: center;align-items: center;
   
}
#feedques{
    background-color: transparent;
    height: 95vh;
    width:85%;
    
    display: block;
}
#ques{
    background-color: #f9f9f9;
    width:100%;
    color: #797676;
    margin:10px;border-radius: 20px;
    display: grid;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    grid-auto-rows: max-content;
    
}
#quest{
    
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    
}
#quest p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;padding:20px;
    color:#000000;
}
#ch{
    display: grid;
    grid-template-columns: 35% 65%;
    margin-bottom:10px;
    height: max-content;
}
#sub{
    
    font-size:20px;
   
    color:black;
    width:100%;
    height:100%;
    display:flex;
}
#mark{
   
    height: auto;
}
input[type="radio"]{
	cursor: pointer;
    transform:scale(1.7);
    margin-left: 50px;vertical-align: middle;
	accent-color: rgba(104,65,218,1);
}
#num{
    color:black;
    vertical-align:middle;
    font-size: 20px;
    margin-left: 10px;
}
#submit{
   
    width:100%;
    display: flex;padding:10px;
    height: 20%;
    justify-content: right;
    align-items: center;
}
#submit input[type="submit"]{
    background-color: rgba(104,65,218,1);
    color:white;
    padding:20px;
    width:15%;
    border-radius: 15px;
    border:none;
    font-size: 15px;font-weight: bold;
    cursor: pointer;
}